@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
.center {
    text-align: center;
}

/* FORM */
.contact{
    font-family: 'Montserrat', sans-serif;
    min-height: 8vh;
    padding: 15px 0;
    text-align: center;
    background: url(../images/background.jpg); 
}

.formContent {
    width: 80vw;
	padding: 30px;
    color: white;
    background-color: #333;
}

form{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    width: 350px;
}


.input_section{
    min-width: 300px;
    text-decoration: none;
    border: none;
    border-bottom: 3px solid steelblue;
    background-color: transparent;
    color: white;
}

.button
{
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: #6885b1;
    border-color: #6885b1;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: 0.5s;
}

.button:hover{
	color: #fff;
	opacity: 0.9;
}

/* Navigation */
.bckTop {
	background-color:#6885b1;
}

.logo{
    cursor: pointer;
    width: 40px;
}

