@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(../images/background.jpg);
    background-size: cover;
}

/*Projects*/

.projects{
    font-family: 'Montserrat', sans-serif;
	width: 80%;
	height: 92vh;
    margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.projectName {
    font-style: bold;
    color: white;
    background-color:steelblue;
    text-decoration: none;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    transition: background 0.5s;

}

.projectName:hover {
    opacity: 0.7;
}

.projects img{
	width: 250px;
	height: 250px;
	border-radius: 5px;
	object-fit: cover;
}

#snake,#blocks {
	object-fit: contain;
	background-color: #24252A;
}

.game {
    margin-left: 10px;
    margin-top: 10px;
	width: 250px;
	height: 300px;
	display: block;
	text-align: center;
}

/* Navigation */
.bckTop {
	background-color:#6885b1;
}

.logo{
    cursor: pointer;
    width: 40px;
}
