@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
	font-family: 'Play', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
	padding: 0 10%;
}

.button
{
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: #6885b1;
    border-color: #6885b1;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: 0.5s;
}

.button:hover{
	color: #fff;
	opacity: 0.9;
}

.center {
    text-align: center;
}

/* Navigation */

.bckTop {
	display: fixed;
	background-color:#6885b1;
}

/* Center */

.centerCont {
	display: flex;
	flex-direction: column;
	width: 100%;	
	min-height: 30vh;
	padding: 25px;
	align-items: left;
	justify-content: center;
}

#center {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center center;
}

#center h3:nth-child(1) span{
	animation-delay: 1s;
}
#center h3:nth-child(2) span{
	animation-delay: 2s;
}
#center h3:nth-child(3) span{
	animation-delay: 3s;
}
#center h3:nth-child(1){
	animation-delay: 1.5s;
}
#center h3:nth-child(2){
	animation-delay: 2.5s;
}
#center h3:nth-child(3){
	animation-delay: 3.5s;
}


#center h3 span{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0;
	height: 100%;
	background-color: #6885b1;
	animation: text_reveal_box 1s ease;
}

#center h3{
	display: block;
	position: relative;
	color: transparent;
	font-size: 2em;	
	width: fit-content;
	animation: text_reveal .5s ease forwards;
}

@keyframes text_reveal_box {
	50%{
		width:100%;
		left: 0;
	}

	100%{
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100%{
		color: black;
	}
}

/* About Me */
.info {
    background: rgba(0,0,0,0.1);
    padding: 25px;
    text-align: center;
    /* margin: 0 auto; */
    color:black;
}

#photo {
    border-radius: 50%;
	padding: 20px;
    width: 250px;
}

#text li{
    list-style: none;
}

#text {
	max-width: 800px;
	margin: auto;
}

/*Projects*/
.centerProjects{
	justify-content: center;
	background-color: rgb(238, 236, 236) ;
}

.app{
	width: 12rem;
	height: 12rem;
	border-radius: 5px;
	background-color: #24252A;
	object-fit: contain;
}

.band {
	margin-bottom: 0;
}

/* FORM */
.headerText{
    min-height: 8vh;
    padding: 15px 0;
    text-align: center;
    background: url(../images/background1.jpg); 
}

.formContent {
	width: 80vw;
	padding: 30px;
    color: white;
    background-color: #333;
}

form{
	margin: auto;
    width: 350px;
}

#contactMe{
	background: rgba(0,0,0,0.1);
	min-height: 100vh;
}

@media only screen and (max-width: 440px) {
	.formText {
	  width: 80vw;
	}
}

@media only screen and (min-width: 1650px) {
	#aboutMeDiv {
	  min-width: 79.2vw;
	}
}
