@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');



body {
	background: #0f172a;
	color: #e2e8f0;
	font-family: 'Inter', sans-serif;
}

/* Navigation */

.bckTop {
	display: fixed;
	background-color: #6885b1;
}

/* Buttons */

button {
    background: #22c55e;
    border: none;
    padding: 0.6rem 1.2rem;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

button:hover {
	transform: scale(1.05);
}

#start-btn {
	background-color: #a8e6cf;
}

#pause-btn {
	background-color: #ffd3b6;
}

.gameButtonsContainer {
	margin-bottom: 0.6rem;
}


/* Content */

.content {
    max-height: 70vh;
    padding-top: 10px;
    max-width: 500px;
    margin: 25px auto 100px auto;
}

#overlay {
	margin-bottom: 10px;
}

#gameOver {
    position: absolute;
    top: 40%;
    width: 30%;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

#errorScreen {
	display: none;
}

.grid {
	display: grid;
	grid-template-columns: repeat(21, 20px);
}

.grid div {
	width: 20px;
	height: 20px;
}

.pac-dot {
	background-color: #a8e6cf;
	border: 5px solid #FFF;
	box-sizing: border-box;
	border-radius: 50%;
}

.wall {
	background-color: #6885b1;
	/*#1e293b*/
}

.ghost-lair {
	background-color: #8cf;
}

.power-pellet {
	background-color: #79b168;
	border-radius: 10px;
}

.blinky {
	background: url(./assets/red.png);
	background-size: cover;
	background-position: center center;
	border: 0px;
}

.pinky {
	background: url(./assets/pink.png);
	background-size: cover;
	background-position: center center;
	border: 0px;
}

.inky {
	background: url(./assets/blue.png);
	background-size: cover;
	background-position: center center;
	border: 0px;
}

.clyde {
	background: url(./assets/orange.png);
	background-size: cover;
	background-position: center center;
	border: 0px;
}

.scared-ghost{
	background-color: aquamarine;
	border: 0px;
}

.pac-man {
	background-color: #FFFF00;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 0 10px #0094ff;
}

.start {
	margin-bottom: 10px;
}

.backLair {
	background-color: #8cf;
}

.pac-man-right {
	box-shadow: yellowgreen 2px 0;
}

.pac-man-left {
	box-shadow: yellowgreen -2px 0;
}

.pac-man-up {
	box-shadow: yellowgreen 0 -2px;
}

.pac-man-down {
	box-shadow: yellowgreen 0 2px;
}

@media only screen and (max-width: 580px) {
	#game {
		visibility: hidden;
	}

	#errorScreen {
		width: 50vw;
		display: inline-block;
	}
}