@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {	
	font-family: 'Play', sans-serif;
}

.section {
	height: 500px;
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	border: 3px solid black;
}

.snake {
	height: 10px;
	width: 10px;
	background-color:black;
	box-sizing: border-box;
}

.empty {
	height: 10px;
	width: 10px;
	background-color: #6885b1;
}

#gameOver{
	display: none;
	position: absolute;
	z-index: 1;
	top: 225px;
	left: 150px;
	width: 200px;
	border: 2px solid grey;
	background-color: rgb(233, 143, 143);
	text-align: center;
	padding: 20px 0px;
}


