@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {	
	font-family: 'Play', sans-serif;
	margin: 0;
}

/* Navigation */

h5 {
	font-size: 1.25rem;
	margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.navbar {
	box-sizing: border-box;
	position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
	padding-right: 1rem!important;
    padding-left: 1rem!important;
}

.container-fluid {
	display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
	width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.bckTop {
	display: fixed;
	background-color:#6885b1;
}

/* Content */

.content {
	padding-top: 20px;
	max-width: 500px;
	margin: auto;
}

.section {
	height: 500px;
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	border: 3px solid black;
}

.snake {
	height: 10px;
	width: 10px;
	background-color:black;
	box-sizing: border-box;
}

.empty {
	height: 10px;
	width: 10px;
	background-color: #6885b1;
}

#gameOver{
	display: none;
	position: relative;
	z-index: 1;
	top: -300px;
	left: 150px;
	width: 200px;
	border: 2px solid grey;
	background-color: rgb(233, 143, 143);
	text-align: center;
	padding: 20px 0px;
}


