@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
	font-family: 'Play', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

/* Navigation */

.bckTop {
	display: fixed;
	background-color:#6885b1;
}

/* Content */

.content{
	max-width: 600px;
	margin: auto;
}

.score {
	position: relative;
	height: 3em;
	text-align: center;
	background-color: cadetblue;
	border-radius: 1.5em;
	margin: 20px 20px 0 20px;
	color: white;
}

.score::before{
	display: flex;
	position: absolute;
	align-items: center;
	left: .5em;
	top: .5em;
	bottom: .5em;
	content: var(--score);
	width: calc(var(--width,0) * 1%);
	/* min-width: 2rem; */
	max-width: calc(100% - 1em);
	background-color: #6885b1;
	border-radius: .5em;
}

.grid {
	margin: 20px;
	position: absolute;
	width: 560px;
	height: 300px;
	border: solid #000 1px;
}

.block {
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: #6885b1;
}

.user {
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: grey;
}

.ball {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: grey;
}

#gameOver, #start{
	position: relative;
	z-index: 1;
	top: 125px;
	left: 200px;
	width: 200px;
	text-align: center;
	padding: 20px 0px;
}

#gameOver {
	display: none;
}

#start button, #gameOver button {
	letter-spacing: 1px;
	padding: 13px 20px 13px;
	outline: 0;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	user-select: none;
}

#start button:after, #gameOver button:after {
	content: "";
	background-color: rgb(185, 243, 182);
	border-radius: 5px;
	width: 100%;
	z-index: -1;
	position: absolute;
	height: 100%;
	top: 7px;
	left: 7px;
	transition: 0.2s;
}

#gameOver button:after {
	background-color: rgb(243, 182, 182);
}

#start button:hover:after, #gameOver button:hover:after {
	top: 0px;
	left: 0px;
}

#errorScreen {
	display: none;
}

@media only screen and (max-width: 580px) {
	.content {
		visibility: hidden;
	}
	#errorScreen{
		/* width: 50vw; */
		display: inline-block;
	}	
}