@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
	font-family: 'Play', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

/* Navigation */

.bckTop {
	display: fixed;
	background-color:#6885b1;
}

/* Content */

.content{
	max-width: 600px;
	margin: auto;
}

.top {
	margin: 20px;
}

.grid {
	margin: 20px;
	position: absolute;
	width: 560px;
	height: 300px;
	border: solid #000 1px;
}

.block {
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: #6885b1;
}

.user {
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: grey;
}

.ball {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: grey;
}

#gameOver{
	display: none;
	position: relative;
	z-index: 1;
	top: 125px;
	left: 200px;
	width: 200px;
	border: 2px solid grey;
	background-color: rgb(243, 182, 182);
	text-align: center;
	padding: 20px 0px;
}