 * {	
	font-family: 'Lobster', cursive;
}


body{
	justify-content: center;
	display: flex;
	align-items: center;
	height: 100vh;
	background-color: lightcoral;
}

.center{
	box-sizing: border-box;
	width: 300px;
	border: 2px solid  rgba(255, 0, 0, 0.281);
	background-color: beige;
	padding: 20px;
}

.info,.score,.stars{
	text-align: center;
}

.score{
	font-size: 18px;
	margin-bottom: 10px;
}

.skip{
	display: flex;
	margin: 5px auto;
}

.skip i{
	padding: 2.5px;
}

.guess {
	display: flex;
	width: fit-content;
	margin: auto;
}

.square{
	margin-left: 2px;
	width: 20px;
	height: 20px;
	background-color: rgba(128, 128, 128, 0.481);
	border-bottom: 2px solid black;
}

.guess {
	text-align: center;
	text-transform: capitalize;	
}

.letters{
	width: fit-content;
	margin: auto;
}

.button {
	text-transform: capitalize;
	margin: 5px;
}

.hidden {
	visibility: hidden;
}

.restart {
	display: flex;
	margin: auto;
	border: none;
	background-color: crimson;
	color: white;
	transition: 1s ease;
}

.restart:hover {
	background-color:red;
}