*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    height: 90vh;
    background: url(./about.jpg);
    background-size: cover;
}

.container {
    width: 500px;
    background: rgba(0,0,0,0.5);
    padding: 50px;
    text-align: center;
    margin: 5% auto;
    color:white;
}

img {
    border-radius: 50%;
	padding: 20px;
    width: 250px;
}

.button {
    color: white;
    background-color:#f9004d;
    text-decoration: none;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    transition: background 0.5s;

}

.button:hover {
    background-color: rebeccapurple;
}

.return {
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}

.return a {
    color: white;
    text-decoration: none;
}