@{
    ViewData["Title"] = "Pacman Game";
}

<!DOCTYPE html>
<html>
    <head>
		<title>Pacman Game</title>
		<link rel="stylesheet" href="~/css/pacman.css">
	</head>
    <body>
		<div id="errorScreen">
			<p>Your screen is not wide enough to play this game. We are sorry for the inconvenience. We invite you to try the other projects.</p>
			<a href="../index.html">Home</a>
		</div>
		<div class="content">
			<div id="game">
				<div>
					<button class="start">START</button>
				</div>
				<div class="grid"></div>
				<h5>Score: <span id="score">0</span></h5>
			</div>
		</div>
		<script src="https://kit.fontawesome.com/cdbba87284.js" crossorigin="anonymous"></script>
		<script src="~/js/pacman.js"></script>
	</body>
</html>




